Thumbs.db        
__pycache__/
*.py[cod]        
*.egg-info/
*.egg
*.env         
env/
venv/
node_modules/
*.log
.vscode/            
*.suo              
*.user             
*.swp              
*.tmp
*.bak
*.backup
build/
dist/
*.lock             